- title @term.name.titleize


#definitions
  %h2 Definitions
  - for definition in @term.entry.definitions
    .definition{:class => definition.kind}
      .bibliography
        %h3 Bibliography
        %ul
          - for b in definition.bibls.group(:title)
            %li= "#{b.title}, #{b.scope}"
      .translations
        %h3 Translations
        %ul
          - for b in definition.translations
            %li= b.name
      .transcript
        %h3 Transcript
        .text= raw definition.text
