- title @letter.name

%p
  There are 
  = @letter.entries.size
  entries for the letter
  = @letter.name

= paginate(@words)

%ul#words
  - for word in @words
    %li= link_to "#{word.name}", word 

= paginate(@words)
